body {
  color: #010101;
  background-color: #c8a27e;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  margin: 0 auto;
}
@media screen and (min-width: 680px) {
  .wrapper {
    width: 680px;
  }
}

@media screen and (min-width: 320px) and (max-width: 679px) {
  .wrapper {
    width: 320px;
  }
}


.score-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-top: 1em;
}