.base-square {
    float: left;
    position:relative;
    color: #fff;
    border: solid 1px #010101;
}

.inner-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-square > span {
    font-size: xxx-large;
}
.hidden {
    display: hidden;
}

.active { 
    color: #624e64;
    display: flex;
    font-size: 3em;
}

@media screen and (min-width: 900px) {

  .base-square {
    width: 164px;
    height: 164px;
    margin: 2px;
    border-radius: 0.2rem;
  }

  .inner-square {
    width: 164px;
    height: 164px;
  }

}

.color-2 {
  background-color: #bbe5efe7;
  color: #2a2a2a;
}

.color-4 {
  background-color: #7db0bdc4;
  color: #2a2a2a;
}

.color-8 {
  background-color: #0d41f3;
}

.color-16 {
  background-color: #374ca9;
}

.color-32 {
  background-color: #5172e7;
}

.color-64 {
  background-color: #5e9de8;
}

.color-128 {
  background-color: #6facf3;
}

.color-256 {
  background-color: #196821;
}

.color-512 {
  background-color: #22912d;
}

.color-1024 {
  background-color: #25bc34;
}

.color-2048 {
  background-color: #e17d13;
}

.color-4096 {
  background-color: #e14513;
}